<div id="artwork-banner" class="header-name">
  <h2>artworks</h2>
  <div class="container form-group">
    <%= search_form_for @q do |f|%>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= f.label :category_matches, 'Size' %>
          <%= f.select :category_matches, options_for_select(Artwork::SIZE), {class:"dropdown-item ", include_blank: true}, class: "btn btn-primary dropdown-toggle form-control" %>
        </div>
        <div class="col-md-3 no-gutters">
          <%= f.label :category_matches, 'Medium' %>
          <%= f.select :medium_matches, options_for_select(Artwork::MEDIUM), {include_blank: true}, class: "btn btn-primary dropdown-toggle form-control" %>
        </div>
      </div>
      <br>
        <div class="row form-inline">
          <div class="col-md-2 col-md-offset-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.search_field :price_gteq, class:"form-control" %>
            </div>
          </div>
          <h5 class="col-md-1" style="text-align: center;">to</h5>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.search_field :price_lteq, class:"form-control" %>
            </div>
          </div>
          <%= f.submit "Filter", class:"btn btn-primary col-sm-1" %>
        </div>
    <% end %>
  </div>
</div>
<div class="index-content container">
  <% @artworks.each_slice(2) do |artworks| %>
    <div class="index-row col-sm-6 col-xs-12">
      <% artworks.each do |artwork| %>
        <%= render partial: 'shared/artwork', locals: { artwork: artwork, height: "500px"  }%>
      <% end %>
    </div>
  <% end %>
</div>
