<div id="artwork-banner" class="header-name">
  <h2>artworks</h2>
  <!-- Filters -->
  <%= search_form_for @q do |f|%>
      <%= f.select :category_matches, options_for_select(Artwork::SIZE), include_blank: true%>
      <%= f.select :medium_matches, options_for_select(Artwork::MEDIUM), include_blank: true %>
      <%= f.search_field :price_gteq %>
      <%= f.search_field :price_lteq %>
      <%= f.submit "Filter" %>
  <% end %>
</div>
<div class="index-content container">
  <% @artworks.each_slice(2) do |artworks| %>
    <div class="index-row col-sm-6 col-xs-12">
      <% artworks.each do |artwork| %>
        <%= render partial: 'shared/artwork', locals: { artwork: artwork, height: "500px"  }%>
      <% end %>
    </div>
  <% end %>
</div>
