<div class="container" id="show-container">
  <div class="image">
    <div class="previous-indicator hidden-sm hidden-xs">
      <% unless @artwork.id == Artwork.first.id %>
        <%= link_to "<i class='fa fa-circle' aria-hidden='true'></i>".html_safe, @artwork.previous %>
        <% unless @artwork.id == (Artwork.first.id + 1) %>
          <%= link_to "<i class='fa fa-circle' aria-hidden='true'></i>".html_safe, @artwork.previous.previous %>
        <% end %>
      <% end %>
    </div>
    <%= cl_image_tag @artwork.photo.path, width: 600, height: 450, crop: :fit %>
    <div class="next-indicator hidden-sm hidden-xs">
      <% unless @artwork.id == Artwork.last.id %>
        <%= link_to "<i class='fa fa-circle' aria-hidden='true'></i>".html_safe, @artwork.next %>
        <% unless @artwork.id == (Artwork.last.id - 1) %>
          <%= link_to "<i class='fa fa-circle' aria-hidden='true'></i>".html_safe, @artwork.next.next %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-content container row">
    <h4 class="col-md-3 d-block-sm" id="price">$<%= @artwork.price %></h4>
    <h4 class="col-md-3 d-block-sm offset-md-3" ><%=@artwork.title %></h4>
    <h4 class="col-md-3 d-block-sm offset-md-6" id="description"><%= @artwork.medium %></h4>
    <h4 class="col-md-3 d-block-sm offest-md-9" id="category"><%= @artwork.category %></h4>
  </div>
</div>
